{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ reservation.reference }}</td>
            </tr>
            <tr>
                <th>Date_reservation</th>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_depart</th>
                <td>{{ reservation.dateDepart ? reservation.dateDepart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix_total</th>
                <td>{{ reservation.prixTotal }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ reservation.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">Retour à la liste des réservations</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>

    {{ include('back/reservation/_delete_form.html.twig') }}
{% endblock %}
