{% extends 'base.html.twig' %}

{% block title %}Conseillers{% endblock %}

{% block body %}

{% include "back/menu_back.html.twig" %}

    <h1 class="text-center text-info m-5">Index Conseiller</h1>

    <a class="btn btn-success text-light mb-3" href="{{ path('app_conseiller_new') }}">Nouveau Conseiller</a>

    <table class="table table_index text-center mx-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Referent</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conseiller in conseillers %}
            <tr>
                <td>{{ conseiller.id }}</td>
                <td>{{ conseiller.email }}</td>
                <td>{{ conseiller.prenom }}</td>
                <td>{{ conseiller.nom }}</td>
                <td class="col-1">
                    <img height=100px src="{{ vich_uploader_asset(conseiller) }}">
                </td>
                <td>{{ conseiller.referent ? 'Yes' : 'No' }}</td>
                <td class="col-4">{{ conseiller.description }}</td>
                <td  class="col-1">
                    <div class="text-light bg-dark rounded col-10 mx-auto">
                        <a class="text-reset text-decoration-none text-light rounded"
                            href="{{ path('app_conseiller_show', {'id': conseiller.id}) }}">
                                voir
                        </a>
                    </div>
                    <div class="bg-light rounded col-10 mx-auto">
                        <a class="text-reset text-decoration-none rounded"
                            href="{{ path('app_conseiller_edit', {'id': conseiller.id}) }}">
                                Modifier
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas de conseiller enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div></div>
{% endblock %}
