{% extends 'base.html.twig' %}

{% block title %}Conseiller{% endblock %}

{% block body %}

{% include "back/menu_back.html.twig" %}

    <h1 class="text-center text-info m-5">Conseiller</h1>

    <table class="table table_index text-center mx-auto">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conseiller.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ conseiller.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ conseiller.roles ? conseiller.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ conseiller.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ conseiller.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>
                    <img src="{{vich_uploader_asset(conseiller)}}">
                </td>
            </tr>
            <tr>
                <th>Referent</th>
                <td>{{ conseiller.referent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conseiller.description }}</td>
            </tr>

        </tbody>
    </table>

    <a class="btn btn-warning rounded" href="{{ path('app_conseiller_edit', {'id': conseiller.id}) }}">Modification</a>

    {{ include('back/conseiller/_delete_form.html.twig') }}

    </div></div>

{% endblock %}
