{% extends 'base.html.twig' %}

{% block title %}Participants{% endblock %}

{% block body %}
    <h1>Gestion des Participants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Date_naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.dateNaissance ? participant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_participant_show', {'id': participant.id}) }}">Afficher</a>
                    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de Participant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participant_new') }}">Nouveau Participant</a>
{% endblock %}
