{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

   {% include "back/menu_back.html.twig" %}

    <h1 class="text-center text-info m-5">Index Clients</h1>

    <table class="table table_index text-center mx-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>statut</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>
                    {% for role in client.roles %}
                        {{ role }}<br>
                    {% endfor %}
                </td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.cp }}</td>
                <td>{{ client.tel }}</td>
                <td>
                    <div class="text-light bg-dark rounded col-11 mx-auto">
                        <a class="text-reset text-decoration-none text-light bg-dark rounded"
                        href="{{ path('app_client_show', {'id': client.id}) }}">
                            voir
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas de client enregistrer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Nouveau Client</a>
    </div></div>
{% endblock %}
