{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

   {% include "back/menu_back.html.twig" %}

  
        <div class="card col-8 offset-2 mt-5">
                <h2 class="card-title bg-info text-light text-center p-2 mb-5  fw-bold">Coordonnées</h2>
                <div class="card-body">
                    <p class="card-text  fw-bold">{{ client.prenom ~ " " ~ client.nom }}</p>
                    <p class="card-text">Adresse: {{ client.adresse ~ " - " ~ client.cp ~ " - "}}{{client.ville|upper }}</p>
                    <p class="card-text">Telephone : {{ client.tel }}</p>
                    <p class="card-text">Email : {{ client.Email }}</p>
                </div>
        </div>
        <div class="text-center m-3">
            <p>
                <a href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>
            </p>
            <p>
                {{ include('back/client/_delete_form.html.twig') }}
            </p>

        </div>
    </div>
</div>
{% endblock %}
