{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="photo d-flex justify-content-center align-items-center">
        <div class="accroche col-4 d-flex align-items-center justify-content-center text-light rounded-pill" style="height:50px">
            Des voyages plus inolites!
        </div>
    </div>

    <h2 class="text-center text-info mt-5 mb-3"> Notre concept</h2>
    <table class="table">
    <p class="text-justify"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>

    <h2 class="text-center text-info mt-5 mb-3"> Nos experts à votre service</h2>
    <div class="d-flex justify-content-evenly">
        {% for conseiller in conseillers %}
            <div class="conseiller card d-flex justify-content-center p-3" style="width: 18rem;">
                <a href="{{path('front_destination', {
                'id':conseiller.specialite.id
                }) }}">
                    <img width=150px src="../../img/{{conseiller.photo}}" class="rounded-circle card-img-top mx-auto" alt="le portrait d'une femme souriante">
                </a>
                <div class="card-body">
                    <h5 class="text-center">{{conseiller.prenom ~ " " ~ conseiller.nom}}</h5>
                    <div class="text-center">
                        <a class="text-reset text-decoration-none" href="{{path('front_destination', {
                            'id':conseiller.specialite.id
                            }) }}">
                            {{conseiller.specialite.titre}}
                        </a>
                    </div>
                    <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}
