{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}

    {# ---------------------------CARTE PROFIL------------------------------ #}
    <div class='container mt-5 d-flex'>
        <div class="card col-4">
            <h5 class="card-header bg-info text-center text-light">Mes coordonnées</h5>
            <div class="card-body">
                {# {% if user.type === client %} #}
                <p class="card-text">{{ user.prenom ~ " " ~ user.nom}}</p>
                    <p class="card-text">{{ user.adresse ~ " " ~ user.cp ~ " " ~ user.ville }}</p>
                    <p class="card-text">{{ user.tel }}</p>
                {# {% endif %} #}
                    <p class="card-text">Email / Identifiant : {{ user.email }}</p>
                    <p class="card-text">Mot de passe : {{ user.password }}</p>
                
            </div>
        </div>

        {# ---------------------------ACCORDEON------------------------------ #}
        <div class="container col-6">
            <div id="accordion">
                <div class="card">
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 class="text-light text-center mb-0">Voyage(s) à Venir
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">↓
                        </a></h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {% for reservation in user.reservations %}

                                {% if reservation.statut == "Validé" %}
                                    <div>
                                        Référence : {{reservation.reference  }}
                                    </div>
                                    <div>
                                        Référence : {{reservation.produit.titre}}
                                    </div>
                                    <div>
                                        {# Date de depart : {{ reservation.date_depart|date('Y-m-d') }} #}
                                    </div>
                                    <div>
                                        nombre de participants : {{reservation.participants|length}}
                                    </div>
                                    <div>
                                        Total de la réservation :
                                        {# {{reservation.prix_total}} #}
                                    </div>
                                    
                                    
                                {% endif %}
                                
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 class="text-light text-center mb-0">En cours de traitement
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">↓
                        </a></h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {% for reservation in user.reservations %}
                                {% if reservation.statut == "En Attente" %}
 <div>
                                        Référence : {{reservation.reference  }}
                                    </div>
                                    <div>
                                        Référence : {{reservation.produit.titre}}
                                    </div>
                                    <div>
                                        {# Date de depart : {{ reservation.date_depart|date('Y-m-d') }} #}

                                    </div>
                                    <div>
                                        nombre de participants : {{reservation.participants|length}}
                                    </div>
                                    <div>
                                        Total de la réservation :
                                        {# {{reservation.prix_total}} #}
                                    </div>
                                    
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 class="text-light text-center mb-0">Ancienne(s) Réservation
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">↓
                        </a></h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {% for reservation in user.reservations %}
                                {% if reservation.statut == "Terminé" %}
                                <div>
                                        Référence : {{reservation.reference  }}
                                    </div>
                                    <div>
                                        Référence : {{reservation.produit.titre}}
                                    </div>
                                    <div>
                                        {# Date de depart : {{ reservation.date_depart|date('Y-m-d') }} #}
}
                                    </div>
                                    <div>
                                        nombre de participants : {{reservation.participants|length}}
                                    </div>
                                    <div>
                                        Total de la réservation :
                                        {# {{reservation.prix_total}} #}
                                    </div>
                                    
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}