{{ form_start(form) }}
    {{ form_label(form.etapes) }}
        <div class="container-etapes" data-prototype="{{ form_widget(form.etapes.vars.prototype)|e('html_attr') }}">
        {% for row in form.etapes %}
            <div class="card-etape">
                {{ form_widget(row) }}
            </div>
        {% endfor %}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
