{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
{% include "back/menu_back.html.twig" %}

    <h1 class="text-center text-info m-5">Gestion des Produits</h1>
    <a class="btn btn-success mb-3" href="{{ path('app_produit_new') }}">Nouveau Produit</a>
    <table class="table table_index text-center mx-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <img height=100px src="{{vich_uploader_asset(produit)}}" alt="">
                </td>
                <td><em> {{ produit.prix }}€ / personne </em></td>
                    <td  class="col-1">
                    <div class="text-light bg-dark rounded col-10 mx-auto">
                        <a class="text-reset text-decoration-none text-light rounded"
                            href="{{ path('app_produit_show', {'id': produit.id}) }}">
                                voir
                        </a>
                    </div>
                    <div class="bg-light rounded col-10 mx-auto">
                        <a class="text-reset text-decoration-none rounded"
                            href="{{ path('app_produit_edit', {'id': produit.id}) }}">
                                Modifier
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de Produit enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
    </div>
{% endblock %}
