{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Gestion des Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Maj</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.photo }}</td>
                <td>{{ produit.maj ? produit.maj|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Afficher</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de Produit enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Nouveau Produit</a>
{% endblock %}
