<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="col-3">
            <div id="logo" class="rounded-circle bg-dark">
                <h4 class="text-warning" >Escapade Tour</h4>
                <p class="h6 text-light">Votre spécialiste du voyage</p>
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Destination
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{path('contact')}}"> Contact</a>
          </li>
      
          {% if app.user %}
              {% if "ROLE_ADMIN" in app.user.roles %}
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="{{path('admin')}}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Admin
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="{{path('app_client_index')}}"> Gestion des clients</a></li>
                          <li><a class="dropdown-item" href="{{path('app_destination_index')}}"> Gestion des destinations</a></li>
                          <li><a class="dropdown-item" href="{{path('app_conseiller_index')}}"> Gestion des conseillers</a></li>
                          <li><a class="dropdown-item" href="{{path('app_etape_index')}}"> Gestion des étapes</a></li>
                          <li><a class="dropdown-item" href="{{path('app_produit_index')}}"> Gestion des produits</a></li>
                          <li><a class="dropdown-item" href="{{path('app_reservation_index')}}">Gestion des Réservations</a>
                          <li><a class="dropdown-item" href="{{path('app_participant_index')}}">Gestion des Participants</a>
                      </ul>
                  </li>
              {% endif %}

          {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path('app_login')}}"> Connexion</a>
              </li>
          {% endif %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('accueil')}}">Accueil</a>
        </li>
          {% if app.user %}

              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{path('front_reservation')}}">Réservation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path('profil')}}"> Profil</a></li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path('app_logout')}}"> Déconnexion</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{path('client_inscription')}}"> Inscription</a>
              </li> 
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
