<div class="container_back d-flex row">

{# --------------------------------------- ESPACE NAV LATERALE #}
    <div class="col-2 menu_lateral align-items-center d-flex justify-content-center">
        <div>
            <a class="dropdown-item" href="{{path('admin')}}"> Accueil Admin</a>
            <a class="dropdown-item" href="{{path('app_reservation_index')}}">Toutes les Réservations</a>
            <a class="dropdown-item" href="{{path('app_destination_index')}}"> Destinations</a>
            <a class="dropdown-item" href="{{path('app_produit_index')}}"> Produits</a>
            <a class="dropdown-item" href="{{path('app_client_index')}}"> Clients</a>
            <a class="dropdown-item" href="{{path('app_conseiller_index')}}"> Conseillers</a>
            <a class="dropdown-item" href="{{path('app_etape_index')}}"> Gestion des étapes</a>
        </div>
    </div>

    <div class="col-9">