{% extends 'base.html.twig' %}

{% block title %}Etapes{% endblock %}

{% block body %}
    <h1>Gestion des Etapes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Photo</th>
                <th>Maj</th>
                <th>Description</th>
                <th>Hotel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
            <tr>
                <td>{{ etape.id }}</td>
                <td>{{ etape.titre }}</td>
                <td>{{ etape.photo }}</td>
                <td>{{ etape.maj ? etape.maj|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ etape.description }}</td>
                <td>{{ etape.hotel }}</td>
                <td>
                    <a href="{{ path('app_etape_show', {'id': etape.id}) }}">Afficher</a>
                    <a href="{{ path('app_etape_edit', {'id': etape.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'étape enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etape_new') }}">Nouvelle étape</a>
{% endblock %}
